#total {
    background-color: #222; color: #fff; display: block;
    line-height: 30px; font-size: 20px; text-align: center; padding: 5px; border-radius: 5px; 
}
#remaining {
    background-color: #fcae2a; color: #000; display: block; 
    line-height: 30px; font-size: 20px; text-align: center; padding: 5px; border-radius: 5px;
}
div.inject {
    text-align: center;display: inline-block;vertical-align: top;
}